/server/dist
/server/.env
/**/node_modules
/**/package-lock.json
/server/logs
/server/logs/*
/frontend/next-env.d.ts
/server/logs/*.txt
/server/prisma/migrations/**
/.DS_Store
/**/.DS_Store
/*/*/.DS_Store
/*/.DS_Store
/client/.next
/server/util/hashCode.util.ts
/.vscode