.form {
  width: 85vw;
  max-width: 350px;
  height: fit-content;
  position: relative;
  top: 10vh;
  margin-top: 1rem;
  border: 1px solid var(--border);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  margin-bottom: 10rem;
}

.heading {
  font-family: var(--subheading-font);
  color: var(--darker-blue);
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-size: 1.25rem;
}

.input {
  font-size: 1.25rem;
  border: 1px solid var(--border);
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
}

.input:focus {
  border: 2px solid var(--orange);
  outline: none;
}

.input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 80px;
  height: 38px;
  border-radius: 36px;
  background: var(--border);
  cursor: pointer;
  position: relative;
}

.input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 3px;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input[type="checkbox"]:focus {
  outline: none;
  border: none !important;
}

.input[type="checkbox"]:checked {
  background: var(--blue);
}

.input[type="checkbox"]:checked::after {
  left: calc(100% - 33px);
}

.link {
  width: 100%;
}

.link a {
  color: var(--darker-blue);
}

.link a:visited {
  color: var(--orange);
}

.submit {
  font-size: 1.5rem;
  margin-top: 3rem;
  width: 100%;
  background: var(--blue);
  border-radius: 6px;
  color: var(--white);
  font-family: var(--subheading-font);
  padding: 0.25rem 0;
  cursor: pointer;
}

.tag {
  width: fit-content;
  max-width: 250px;
  min-width: 80px;
  background: var(--white);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding-right: 2rem;
}

.activeTag {
  background: var(--lighter-blue);
  border: none;
}

.tags {
  width: 100%;
  margin-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.removeTag {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-45%);
  font-size: 1.5rem;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.2s;
}

.removeTag:hover {
  font-size: 2rem;
}