.communitySettings {
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.communitySettings:hover {
  transform: scale(1.2);
}

.communityInterests {
  color: rgb(100, 100, 100) !important;
}

.bannerBackground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerBgRow {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin: 0.5rem 0;
}

.bannerBgRow > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerBgRow > div > div,
.bannerBgRow > div img {
  padding: 1rem;
}

.banner {
  width: 100%;
  height: 200px;
  position: relative;
  background: var(--lighter-orange);
}

.banner::before {
  background: var(--blue);
  right: 0;
}

.bannerCenter {
  content: attr(data-title);
  width: 70%;
  padding-top: 1rem;
  min-height: 70%;
  background: var(--white);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 30px 30px 0 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bannerCenter::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(calc(-100% + 20px), 20px);
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  border-radius: 0 0 50px 0;
}

.bannerCenter::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(calc(100% - 20px), 20px);
  border-bottom: 20px solid #fff;
  border-left: 20px solid #fff;
  border-radius: 0 0 0 50px;
}

.bannerCenter h1 {
  font-family: var(--heading-font);
  font-size: 2.25rem;
}

.bannerStats {
  color: var(--darker-border);
  text-align: center;
  transition: 0.2s;
}

.bannerStats:hover{
  color: rgb(0, 0, 0);
}

.bannerCenter > p {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  font-family: var(--subheading-font);
}

.bannerCenter .leaveCommunity {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(0.8);
  background: var(--white);
  border-radius: 50%;
  border: 1px solid var(--border);
}

.bannerCenter .leaveCommunity::after {
  content: "Leave community";
  position: absolute;
  right: 8px;
  transform: translateX(100%);
  white-space: nowrap;
  width: 0px;
  background: var(--white);
  height: 100%;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transition: 0.5s;
  overflow: hidden;
}

.bannerStats .joinCommunity {
  font-size: 1rem;
  background: var(--orange);
  border-radius: 20px;
  padding: 0 0.5rem;
  position: relative;
  right: 12px;
  cursor: pointer;
  color: var(--white);
}

.bannerCenter .leaveCommunity:hover {
  transform: scale(1);
}

.bannerCenter .leaveCommunity:hover::after {
  width: 150px;
}

.topBar {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  border-bottom: 1px solid var(--border);
  flex-wrap: wrap;
}

.topBar button {
  font-family: var(--subheading-font);
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  background: var(--blue);
  color: var(--white);
  font-size: 1.25rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.communityContainer {
  position: relative;
  top: 80px;
}

.topBar[data-collapsed="true"],
.createContainer[data-collapsed="true"],
.communities[data-collapsed="true"],
.communityContainer[data-collapsed="true"] {
  width: calc(100vw - (200px - (200px * 0.91)));
}

.topBar[data-collapsed="false"],
.createContainer[data-collapsed="false"],
.communities[data-collapsed="false"],
.communityContainer[data-collapsed="false"] {
  width: 50vw;
}

.info {
  position: relative;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  width: fit-content;
  text-align: center;
}

.communities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  padding: 1.5rem;
}

.community {
  width: 100%;
  max-width: 725px;
  min-height: 125px;
  max-height: 150px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--border);
  transition: 0.2s;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 12px #0002;
}

.community:hover {
  transform: translateY(-10%);
  box-shadow: 0 6px 12px #0002;
}

.community:hover .communityContent {
  transform: translateY(-10%);
}

.community img {
  width: 20%;
  min-width: 125px;
}

.communityTitle {
  font-size: 1.5rem;
  font-family: var(--heading-font);
}

.communityInfo span {
  color: rgb(136, 136, 136);
  margin-right: 0.5rem;
}

.communityContent {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  transition: 0.2s;
  position: relative;
  width: 80%;
}

.findInput {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}

.findInput input {
  flex: 1;
  font-size: 1.25rem;
  padding: 0.2rem 0.8rem;
  border-bottom: 5px solid var(--orange);
}

.findInput button {
  font-size: 1.25rem;
  padding: 0 1rem;
  background: var(--blue);
  cursor: pointer;
  color: var(--white);
}

.searchedCommunity {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.searchedCommunity::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--border);
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: 5px solid var(--blue);
  border-radius: 0 0 20px 20px;
}

.searchedCommunity::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--border);
  position: absolute;
  top: -10px;
  left: 0;
}

.searchedCommunity h1 {
  font-family: var(--heading-font);
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.searchedCommunityInterests {
  width: fit-content;
  border: 1px solid var(--border);
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  margin: 0.5rem 0;
}

.searchedCommunity p {
  font-size: 1.25rem;
}

.searchedCommunity .userCount {
  position: absolute;
  right: 10px;
  top: 5px;
}

.searchedCommunity .userCount path {
  stroke: var(--orange);
}

.searchedCommunity .userCount::before {
  content: attr(data-user-count);
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  color: var(--orange);
  transform: translate(-180%, -50%);
}

.joinCommunityBtn {
  font-size: 1.2rem;
  margin-left: 1rem;
  background: var(--orange);
  color: var(--white);
  border-radius: 20px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.postBarContainer {
  width: 100%;
  height: 9vh;
  position: fixed;
  bottom: 0;
  transition: 0.5s;
  z-index: 100;
}

.postBar {
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid var(--darker-border);
  background: var(--border);
  padding: 0.7rem;
  border-radius: 20px 20px 0 0;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.postInput {
  flex: 1;
  height: 100%;
  font-size: 1.5rem;
  padding: 0.25rem 0.8rem;
  border-radius: 12px;
  overflow: hidden;
  resize: none;
  border: 1px solid var(--darker-border);
}

.postBoxExit {
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0;
}

.postBarOpen {
  height: 500px !important;
  bottom: 0;
}

.postBarOpen form:first-of-type {
  height: 500px;
  box-shadow: 0 0 0 150vh #000c;
}

.postBarOpen form > div > div > div > p,
.postBarOpen form > div > div > div > p * {
  font-family: arial !important;
  font-size: 1rem;
}

.postBarOpen form > div > div > div > p u {
  text-decoration: underline;
}

.postBarOpen form > div > div:first-of-type {
  display: flex;
  justify-content: space-evenly;
}

.postBarOpen form > div > div:first-of-type > * > * {
  padding: 0.1rem;
  margin: 0 0.1rem;
  border-radius: 4px;
  display: grid;
  place-items: center;
  transition: 0.2s;
}

.postBarOpen form > div > div:first-of-type > * > *:hover {
  background: var(--darker-border);
}

.postBarOpen form > div > div > div > p strong {
  font-weight: bold;
}

.postBarOpen form > div:not(.postBoxExit) {
  width: 100%;
}

.postBarOpen form > div:not(.postBoxExit) * {
  border: none !important;
}

.postSubmit {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -70%);
  background: var(--orange);
  padding: 0.2rem 0.8rem;
  color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid var(--border);
}

.postsContainer {
  width: 100%;
  padding: 2.5rem 2.5rem 8rem 1.5rem;
}

.postBar .info {
  width: 100%;
}

@media (min-width: 400px) {
  .topBar[data-collapsed="false"],
  .createContainer[data-collapsed="false"],
  .communityContainer[data-collapsed="false"],
  .postBarContainer[data-collapsed="false"],
  .communities[data-collapsed="false"] {
    width: calc(100vw - 200px);
  }
}

@media (max-width: 690px) {
  .community img {
    display: none;
  }

  .communityContent {
    width: 100%;
  }

  .community::after {
    content: "";
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--lighter-orange);
    z-index: -1;
    clip-path: polygon(
      20% 0%,
      100% 100%,
      0% 100%,
      0% 0%
    );
  }

  .community::before {
    content: "";
    width: 33%;
    height: 80%;
    position: absolute;
    left: 50px;
    bottom: 0;
    background-color: var(--lighter-blue);
    z-index: -1;
    clip-path: polygon(
      20% 0%,
      100% 100%,
      0% 100%,
      0% 0%
    );
  }

  .topBar,
  .createContainer,
  .communityContainer,
  .postBarContainer,
  .communities {
    width: calc(100vw - 1rem) !important;
  }
}

@media (max-width: 750px) {
  .searchedCommunity h1 {
    font-size: 1.5rem;
  }

  .searchedCommunity p {
    font-size: 1.15rem;
  }

  .searchedCommunityInterests {
    padding: 0;
    border: none;
    color: var(--blue);
  }

  .searchedCommunity .userCount svg { 
    width: 25px;
  }

  .searchedCommunity .userCount::before {
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  .searchedCommunity .userCount {
    display: none;
  }

  .searchedCommunity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchedCommunity > * {
    text-align: center;
  }
}