.friendsContainer {
  width: 100%;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendsContainer[data-collapsed="true"] {
  width: calc(100vw - (200px - (200px * 0.91)));
}

.friendsContainer[data-collapsed="false"] {
  width: 50vw;
}

.findFriend {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border);
  gap: 1rem;
}

.findFriend input {
  font-size: 1.2rem;
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 0.3rem 0.8rem;
  font-family: var(--text-font);
  width: 40%;
  max-width: 600px;
  min-width: 300px;
}

.findFriend button {
  font-size: 1.2rem;
  background: var(--blue);
  color: var(--white);
  padding: 0.3rem 0.8rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.findFriend button:hover {
  transform: translateY(-2px);
}

.results {
  width: 100%;
  padding: 0 2rem;
  max-width: 1200px;
  margin-top: 1.5rem;
}

.results h1 {
  text-align: center;
  margin-top: 1.5rem;
}

.friendUser {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid var(--border);
  transition: 0.2s;
}

.friendUser h4 {
  font-family: 1.2rem;
}

.friendUser button {
  font-size: 1rem;
  background: var(--orange);
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.friendUser:hover {
  transform: translateX(-15px);
}

.friendUser:last-of-type {
  border-bottom: none;
}

.arrows {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.arrow {
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.arrow::before {
  content: "View more users";
  position: absolute;
  left: 50%;
  top: 0;
  width: max-content;
  transform: translate(-50%, -140%) scale(0);
  background: var(--blue);
  color: var(--white);
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  z-index: 2;
  transition: 0.2s;
  transform-origin: bottom center;
}

.arrow::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid var(--blue);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%) scale(0);
  z-index: 1;
  transition: 0.2s;
  transform-origin: top center;
}

.arrow:hover {
  transform: scale(1.2);
}

.arrow:hover::before {
  transform: translate(-50%, -140%) scale(1);
}

.arrow:hover::after {
  transform: translate(-50%, -60%) scale(1);
}

@media (min-width: 400px) {
  .friendsContainer[data-collapsed="false"] {
    width: calc(100vw - 200px);
  }
}

@media (max-width: 690px) {
  .friendsContainer {
    width: calc(100vw - 1rem) !important;
  }
}