.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  max-height: 100px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border);
  background: var(--white);
  min-width: 100vw;
  z-index: 100000;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  padding: 0 2rem;
}

.logo {
  height: 40px;
}

.largeLogo {
  height: 100%;
}

.smallLogo {
  height: 100%;
  display: none;
}

.right {
  width: 50%;
  min-width: 400px;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.search {
  flex: 1;
  max-width: 300px; 
  font-size: 1.25rem;
  border: 1px solid var(--border);
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
}

.btn {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  background: var(--orange);
  border-radius: 6px;
  cursor: pointer;
}

.btn a {
  color: #fff;
  font-family: var(--subheading-font);
}

@media (max-width: 890px) {
  .largeLogo {
    display: none;
  }

  .smallLogo {
    display: block;
  }

  .right {
    width: 80%;
  }
}

@media (max-width: 580px) {
  .logo {
    display: none;
  }

  .right {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .btn:first-of-type {
    display: none;
  }

  .content {
    width: 100vw;
  }

  .btn:last-of-type {
    width: 30%;
    font-size: 1rem;
    padding: 0.1rem 0.1rem !important;
  }

  .search {
    width: 70%;
    font-size: 1rem;
  }

  .right {
    min-width: 100%;
  }

  .content {
    padding: 0 1.15rem;
  }

  .nav {
    height: 60px;
  }
}