.popup {
  width: 95vw;
  max-width: 700px;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 100000000000000000000000000;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  transform: translate(-50%, -200%);
  transition: 0.5s;
}

.message {
  font-weight: bolder;
  font-family: var(--heading-font);
  font-size: 1.15rem;
}