.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 80px;
  height: calc(90vh + 1rem);
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
  border-left: 1px solid var(--border);
  transition: transform 0.2s ease;
  z-index: 1000;
  background: var(--white);
}

.categoryTitle {
  font-family: var(--heading-font);
  font-size: 1.4rem; 
  margin-left: 1rem;
  margin-top: 1rem;
}

.option p {
  font-size: 1.25rem;
}

.option {
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 1rem;
  position: relative;
}

.option[data-selected="true"] {
  background: var(--orange);
}

.option::after {
  content: attr(data-emoji);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-180%, -50%);
  opacity: 0;
  animation: bob 3s ease-in infinite;
  transition: 0.5s;
  pointer-events: none;
}

.option:hover {
  background: var(--orange);
}

.option:hover::after {
  opacity: 1;
  left: 0px;
}

.collapse {
  position: absolute;
  left: 0px;
  top: 20px;
  transform: translateX(-100%);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}

.collapse::after {
  content: "Hide sidebar ⛔️";
  position: absolute;
  background: var(--orange);
  left: 0;
  top: 60%;
  width: max-content;
  padding-right: 1rem;
  padding: 0.1rem 1rem;
  border-radius: 12px;
  transform: translate(-110%, -50%);
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
  font-family: var(--text-font)
}

.sidebar:hover .collapse {
  left: 6px;
  opacity: 1;
}

.sidebar:hover .collapse:hover::after {
  opacity: 1;
  top: 70%;
}

.collapsed {
  transform: translateX(91%);
}

.collapsed .option {
  pointer-events: none;
}

.collapsed .collapse {
  opacity: 1;
  left: 6px;
}

.collapsed .collapse:hover {
  left: 0px;
}

.collapsed .collapse::after {
  content: "Show sidebar 👀";
}

@keyframes bob {
  0% {
		transform: translate(-180%, calc(-50% + 0px));
	}
	50% {
		transform: translate(-180%, calc(-50% + -10px));
	}
	100% {
		transform: translate(-180%, calc(-50% + 0px));
	}
}

@media (hover: none) and (pointer: coarse) {
  .collapse {
    opacity: 1 !important;
  }
}